# Domain accessible publiquement (sans protocole)
WEBLATE_SITE_DOMAIN=tms.example.com
WEBLATE_ALLOWED_HOSTS=tms.example.com

# Admin Weblate
WEBLATE_ADMIN_EMAIL=admin@example.com
WEBLATE_ADMIN_PASSWORD=changeme
WEBLATE_ADMIN_NAME=Admin

# Email
WEBLATE_EMAIL_HOST=smtp.example.com
WEBLATE_SERVER_EMAIL=noreply@example.com
WEBLATE_DEFAULT_FROM_EMAIL=noreply@example.com

# Titre affiché dans Weblate
WEBLATE_SITE_TITLE=Espace de Travail

# Postgres
POSTGRES_PASSWORD=changeme_strong_password